@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
body {
    font-family: 'Balsamiq Sans', cursive;
    background-image: url(assets/bg.svg);
}
.main {
    font-size: 35px;
    text-align: center;
}
.row {
    display: flex;
    flex-direction: flex;
}
.main h3 {
    font-size: 18px;
}
.we1 {
    display: table-column;
    margin: auto;
    width: 13%;
    text-align: center;
    margin-left: 10%;
    margin-right: auto;
    border: 3px solid rgb(201, 212, 201);
    padding: 10px;
}
#we1 {
    border-radius: 12px;
    padding: 10px;
    border: none;
    font-size: 18px;
    color: azure;
    cursor: pointer;
    font-family: 'Neucha', cursive;
    width: 100px;
    background-color: rgb(107, 107, 126);
}
#we1:hover {
    transition: 0.90s;
    background-color: rgb(83, 83, 94);
}
#we2 {
    border-radius: 12px;
    padding: 10px;
    border: none;
    font-size: 18px;
    color: azure;
    cursor: pointer;
    font-family: 'Neucha', cursive;
    width: 100px;
    background-color: rgb(107, 107, 126);
}
#we2:hover {
    transition: 0.90s;
    background-color: rgb(83, 83, 94);
}
#we3 {
    border-radius: 12px;
    padding: 10px;
    border: none;
    font-size: 18px;
    color: azure;
    cursor: pointer;
    font-family: 'Neucha', cursive;
    width: 100px;
    background-color: rgb(107, 107, 126);
}
#we3:hover {
    transition: 0.90s;
    background-color: rgb(83, 83, 94);
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    font-size: 20px;
    width: 100%;
    background-color: transparent;
    color: rgb(0, 0, 0);
    font-family: 'Neucha', cursive;
    text-align: center;
}
a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
@media all and (max-width: 800px) {
    @import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
    body {
        font-family: 'Balsamiq Sans', cursive;
        background-color: aliceblue;
        background-image: none;
    }
    .main {
        font-size: 35px;
        text-align: center;
    }
    .main h3 {
        font-size: 18px;
    }
    .row {
        display: grid;
    }
    .we1 {
        margin: auto;
        width: 70%;
        margin-left: 10%;
        margin-right: auto;
        border: 3px solid rgb(201, 212, 201);
        padding: 10px;
    }
    #we1 {
        border-radius: 12px;
        padding: 10px;
        border: none;
        font-size: 18px;
        color: azure;
        cursor: pointer;
        font-family: 'Neucha', cursive;
        width: 100px;
        background-color: rgb(107, 107, 126);
    }
    #we1:hover {
        transition: 0.90s;
        background-color: rgb(83, 83, 94);
    }
    #we2 {
        border-radius: 12px;
        padding: 10px;
        border: none;
        font-size: 18px;
        color: azure;
        cursor: pointer;
        font-family: 'Neucha', cursive;
        width: 100px;
        background-color: rgb(107, 107, 126);
    }
    #we2:hover {
        transition: 0.90s;
        background-color: rgb(83, 83, 94);
    }
    #we3 {
        border-radius: 12px;
        padding: 10px;
        border: none;
        font-size: 18px;
        color: azure;
        cursor: pointer;
        font-family: 'Neucha', cursive;
        width: 100px;
        background-color: rgb(107, 107, 126);
    }
    #we3:hover {
        transition: 0.90s;
        background-color: rgb(83, 83, 94);
    }
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        font-size: 20px;
        width: 100%;
        background-color: transparent;
        color: rgb(0, 0, 0);
        font-family: 'Neucha', cursive;
        text-align: center;
    }
    a {
        color: rgb(0, 0, 0);
        text-decoration: none;
    }
}